.services-items,
.about-us-items
{
	display: block;
}
.services-items .item,
.about-us-items .item
{
	width: 100%;
	margin-right: 0;
}
footer .top .items .item:first-child{
	display: block;
	width: 100%;
}
.section-title{
	padding: 40px 15px;
}
.section-title h1, .section-title .h1{
	font-size: 38px;
}
header{
	padding: 4px 0 0;
}
header .logo{
	width: 56px;
	height: 59px;
	overflow: hidden;
	margin-top: -8px;
}
header .header-right{
	margin-top: -5px;
}
header .logo img{
	width: 151px;
}
header ul{
	font-size: 18px;
}
header .header-right ul{
	top: -1px;
}
header ul li{
	margin-left: 15px;
}
header ul li span{
	display: none;
}