.wrapper{
	transition: transform 0.4s;
	transform: translate(0px);
}
.wrapper.active{
	transform: translate(-250px);
}
header .mobile-menu{
	//display: block;
}
header .header-right{
	display: block;
}
header .header-right ul{
	top: 1px;
	position: relative;
}
header .phone{
	display: none;
}
body{
	padding-bottom: 45px;
}
.phone.phone-mobile{
	display: block;
	position: fixed;
	z-index: 99;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	a{
		padding: 10px 15px;
		display: block;
		width: 100%;
		background: #05a6dd;
		color: #fff;
		font-size: 18px;
		i{
			position: relative;
			top: 1px;
			margin-right: 10px;
			&:before{
				opacity: 0;
			}
			&:after{
				opacity: 1;
			}
		}
	}
}
header .phone a{
	width: 100%;
	text-align: center;
}
.services-items .item,
.about-us-items .item{
	width: 48%;
}
.services-items .item,
.services-items .item:nth-child(3n),
.about-us-items .item,
.about-us-items .item:nth-child(3n)
{
	margin-right: 4%;
}
.services-items .item:nth-child(2n),
.about-us-items .item:nth-child(2n){
	margin-right: 0;
}








footer .top .items .item:first-child{
	width: 400px;
}
footer .bottom .items{
	display: block;
}
footer .bottom .items .item{
	margin-bottom: 10px;
}
footer .bottom .items .item:last-child{
	margin-bottom: 0;
}