.two-label{
	display: block;
}
.two-label label{
	width: 100%;
}
.section-personal .personal-items .flex-block{
	display: block;
}
.section-personal .personal-items .flex-block .text{
	width: 100%;
}
.section-personal .personal-items .flex-block .img{
	margin-bottom: 20px;
}