.section-get-touch h1, .section-get-touch .h1{
	font-size: 40px;
	line-height: 45px;
}
.section-welcome .items{
	display: block;
}

.section-welcome .container-fluid{
	max-width: 100% !important;
}
.section-welcome .items{
	display: block;
	width: 100%;
}
.section-welcome .items .item:first-child{
	width: 100%;
	max-width: 100%;
	padding: 50px 15px;
}
.section-welcome .items{
	display: flex;
	flex-direction: column-reverse;
}
.section-welcome .items .item:nth-child(2){
	background: none !important;
	width: calc(100% + 30px);
	margin-left: -15px;
}
.section-welcome .items .item:nth-child(2) img{
	display: block;
}